@use './styles/_index' as *;
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Press+Start+2P&family=Roboto:wght@300&display=swap');


body {
  margin: 0;
  padding: 0;
  background-color: #FB1B1B;

}

.App {
  display: flex;
  justify-content: center;
  font-family: Calibri;
  font-size: 24px;
}

.TitleSection {
  background-color: #ffffff;
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title{
    color: #000000;
    font-family: 'Press Start 2P', cursive;
  }

}

.TitleSection input {
  width: 200px;
  height: 40px;
  border-radius: 10px;
  border: 2px solid #0A285F;
  padding-left: 10px;

  font-size: 15px;
  font-family: 'Press Start 2P', cursive;
}

.TitleSection button {
  margin-top: 18px;

  font-family: 'Acme', sans serif;
  font-size: 25px;
  color: #0A285F;
  font-weight: 600;
}

.button-pushable {
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: hsl(0deg 0% 0% / 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}

.button-edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(
    to left,
    hsl(220deg 100% 16%) 0%,
    hsl(220deg 100% 32%) 8%,
    hsl(220deg 100% 32%) 92%,
    hsl(220deg 100% 16%) 100%
  );
}

.button-front {
  display: block;
  position: relative;
  padding: 12px 27px;
  border-radius: 12px;
  color: white;
  background: hsl(220deg 100% 47%);
  will-change: transform;
  transform: translateY(-4px);
  transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}
.button-pushable:hover {
  filter: brightness(110%);
}

.button-pushable:hover .button-front {
  transform: translateY(-6px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}

.button-pushable:active .button-front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

.button-pushable:hover .button-shadow {
  transform: translateY(4px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}

.button-pushable:active .button-shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}

.button-pushable:focus:not(:focus-visible) {
  outline: none;
}

.DisplaySelection{
  display:flex;
  justify-content:center;
  flex-direction: column;

  margin: 20px 0px 20px 0px;

  width: 550px;
  height: 650px;
  border-radius: 20px;
  border: 8px solid black;
  box-shadow: #DFDFDF 10px -10px 10px inset;
  padding: 10px;
  background-color: #FFFFFF;
  color:  #000000;


  @include mobile{
    width: 200px;
    padding: 15px;
  }

  &__help{
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    font-size: 15px;

    @include mobile{
      font-size: 15px;
      line-height: 22px;

    }
  }

  &__name{
    text-transform: capitalize;
    text-align: center;

  }

  &__imgBox{
    display: flex;
    justify-content: center;

    &-image{
      width: 300px;

      @include mobile{
        width: 250px;
      }
    }
  }

  &__info{
    margin: 10px;
    font-size: 15px;

    h4{
      margin-top: 0px;
    }

    @include mobile{
      margin: 4px;

    }

  }
}